@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Karla:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* change to mobile at 770 */


.system-fonts {
    font-family: Afacad Flux, Karla, Raleway, sans-serif;
}

:root {
    --primary-hard-color: #000000;
    --primary-soft-color: #daddd8;
    --primary-soft-color-transparent: #daddd8ba;
    --primary-color: #ffffff;
    --primary-color-transparent: #ffffff32;
    --secondary-color: #1F61A4;
    --accent-color: #DBAC80;
    --main-font: 'Afacad Flux';
    --secondary-font: 'Karla';
    --primary-font-color: #000000;
    --secondary-font-color: #daddd8;
    --accent-font-color: #1F61A4;
    --background-color: #daddd8;
    --secondary-background-color: #1F61A4;
    --header-background-color: #155C85ff;

    --box-shadow: rgba(0, 0, 0, 0.07) 0px 0.25rem 1.25rem 0px;
    --box-shadow-white: rgba(255, 255, 255, 0.156) 0px 0.25rem 1.25rem 0px;
    
}

* {
    margin: 0;
    font-family: var(--main-font);
    border-radius: 0px;
    font-weight: 300;
}

main {
    min-height: 90vh;
    margin: auto;
    height: 100%;
}

main:not(#room, #book) {

    padding-top: 200px; 
}




#book {
padding-top: 83px;
}

#header {
    width: 100%;
    z-index: 999;
    opacity: .99;
}

#header:hover{
    background-color: var(--primary-color) !important;
    color: var(--primary-hard-color);
}

#header.scrolled {
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--primary-hard-color);
}
    

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    /* transition: ease-in-out .6s; */

}

p {
    font-size: 1rem;
}


h1 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    text-align: center;
    
}

h2 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
}

h3 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 1rem;
    padding: 1rem;
}

h4 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: .75rem;
    padding: 1rem;
}

h5 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: .5rem;
    padding: 1rem;
}

h6 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: .5rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0 .6rem;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    text-wrap: nowrap;
    /* underline */
    /* text-decoration: underline; */
    /* color: var(--primary-font-color); */
}

fieldset {
    border-radius: 6px;
}

fieldset legend {
    padding: 0px 4px;
}

.background-scroll-effect{
    background-image: url('../images/drift-background.jpeg');
    background-position:top;
    background-size: 1700px auto;
    background-repeat: no-repeat;

    z-index: 5;
}

#hamburger:hover {
    background-color: var(--secondary-color);
}



#header:hover {
    background-color: var(--primary-);
    transition: ease-in .4s;


}

#footer {
    background-color: var(--primary-hard-color);
    justify-content: space-around;
    align-items: flex-start;
    gap: 0rem;
}


#footer {
    color: var(--primary-soft-color);
}

#footer-address {
    padding: 1rem;
    font-size: medium;
}

#footer-media {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 3rem;
    padding: 1rem;
}

#footer-site-info {
    flex-direction: column;
    padding: 1rem;
    /* justify-content: flex-start;
    align-items: center; */
}

#footer-site-info p {
    padding-bottom: .25rem;
}

#menu-list li:hover a {
    border-bottom: 2px solid var(--accent-color);
    /* background-color: var(--accent-color); */
    font: var(--secondary-font-color);
    z-index: 999;
    
}

#menu-button {
    display: none;
}


#brand {
    flex-direction: column;
    text-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0;
    justify-self: flex-start;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
/* 
#horizontal-logo {
    margin: 0;
    padding-bottom: .3rem;
} */


#brand img {
    /* grid-column: 1 /; */
    grid-row: 1 / 2;
}
/* 
#brand #horizontal-logo {
} */

#brand #logo-description {
    /* grid-row: 2/3; */
    margin-left: 7rem;
    margin-top: -30px;
    color: var(--primary-color);
    opacity: .1;
    transition: ease-in 1s;
    z-index: 0;
    /* position: absolute; */
}


#header:hover #brand #logo-description, #brand #logo-description.scrolled {
    /* margin-left: 7rem; */
    color: var(--primary-hard-color);
    transform: translateX(3rem);
    transition: ease-in-out .6s;
    opacity: 1;
}

#logo {
    padding-right: 3rem;
    transition: ease-in-out .6s;
}

#footer {
    min-height: 10vh;
}

button {
    border-radius: 8px;
    border: none;
    padding: 8px;
}

address {
    font-size: medium;
}

#hamburger {
    cursor: pointer;
    display: none;
    /* line-height: 60px; */
}

#header .book-now {
    margin-left: 3.93rem;
}

.book-now {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .83rem;
    border-radius: 1px;
    border: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    text-wrap: nowrap;
}




#header .book-now {
    margin-left: 0rem;
}

 #header:hover .book-now, .book-now:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    
    transition: ease-out .8s;
    border: 2.5px solid var(--secondary-color);
    border-radius: 1px;
    
}   

#header:hover .book-now:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
}

/* transitions */
.hover_theme, .hover_theme1 {
    transform: scale(1);
    transition: ease-in-out .4s;

}

.hover_theme1:hover{
    transform: scale(1.07);
    transition: ease-in-out .4s;
    text-decoration: solid;
}

.hover_theme:hover,
.card:hover {
    transform: scale(1.025);
    transition: ease-in .4s;
    text-decoration: solid;
}

.theme-header {
    border: 1.5px solid var(--primary-hard-color);
    border-color: var(--hard-color);
    color: var(--primary-font-color);
    background-color: var(--primary-color);
    /* border-top-right-radius: 3px; */
    /* border-top-left-radius: 3px; */
    padding: .65rem;
}

.theme-hero-reverse {
    border: 1.5px solid var(--primary-soft-color);
    /* border-color: var(--hard-color); */
    color: var(--primary-soft-color);
    background-color: transparent;
    font-size: 4.4vw;
    padding: 1vw;
    padding-right: 14.75vw;
    text-align: center;
    width: 100%;
    transition: ease-in .5s;

    /* position:; */
}

.theme-hero-content-reverse{
    width: 25vw;
    font-size: 1.4rem;
    color: var(--primary-soft-color);
}

.theme-hero-reverse:hover {
transform: scale(1.07);
transition: ease-out .5s;
/* background-color: var(--primary-color-transparent); */
color: #ffffff;
}

.theme-hero-reverse h1 {
    color: #ffffff;
    letter-spacing: 1rem;
}

.full {
    border: 1.5px solid var(--primary-hard-color);
    border-left: none;
    border-right: none;

    color: var(--primary-font-color);
    /* border-top-right-radius: 3px; */
    /* border-top-left-radius: 3px; */
    width: 100%;
    padding: .65rem;
}


.theme-content {
    background-color: var(--primary-soft-color);
    color: var(--primary-font-color);
    padding: 10px;
    
}

#booker-start {
    width:  100%;
    background-color: var(--primary-color);
    padding: 3rem 0;
    /* margin: auto; */
}

#booker-start .flex {
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}

#booker-start h1{
    color: var(--primary-hard-color);
    font-size: 2.25rem;
    margin-right: 3vw;
}

#booker-start label {
    margin: 0 3vw;
    /* font-size: 1.75rem; */
}

#booker-start label p {
    /* margin: 0 .15rem; */
}

#booker-start label:first-child p {
    margin: 0 2rem;
}


#booker-start label:first-child, #booker-start label:not(first-child)  {
    margin: 0 2.75vw;
}

#booker-start input, #booker-start select {
    /* padding: 0 1rem .2rem 0; */
    font-size: 1rem;
    border: 1.5px solid var(--primary-hard-color);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

#booker-start select {
    padding: 0 6rem 0 0rem;
}

#dash {
    align-self: end;
    /* text-align: end; */
}

#booker-start select {
    margin: 0 2rem;
}

a.hints {
    position: absolute;
    font-size: .95rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    /* margin-top: 3rem; */
    color: var(--accent-font-color);
}

/* site plan /home */

#site-plan, #home, #about-us{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: nowrap;
    /* width: 100%; */
}



#site-plan-container {
    width: 100%;
}

#site-plan-container > section {
    margin: .5rem;
    max-width: 250px;
}
/* 
#site-plan > div:first-child {
    margin: auto;
} */

#site-plan > div:first-child, #home > section:first-child {
margin-bottom: 14vw;
max-width: 175px;
margin-left: 30vw;
}


#site-plan > div:first-child > div > p, #home > section:first-child > div > p {
/* margin-top: 30px; */
color: var(--primary-color);
margin-left: 15px;
margin-top: 10px;
    }


#wireframes {
    width: 100%;
    text-align: center;
    border-left: 0 solid var(--secondary-color);
}

/* ------ rooms -------- */

#room {
    margin: auto;
}

#room .container-spacer{
    width: auto;
    margin: auto;
    min-height: 80vh;
    /* height: 100%; */

}

.rooms-results-container {
max-width: 90rem;
margin:auto;
flex-direction: column;
}

.Center {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}
