

#feedback1 #radio-selection,
 #check-out-form #customer-info-form, #check-out-form #billing-info, .hide-form-option {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}



#book #booker {
    padding: 1rem;
}

#feedback1 #radio-selection label {
    
}

#room-previewer .form-room-selector label {
    margin-left: 5px;
}

#more-address-info label {
    margin: 0 1rem;
}


@media screen and (max-width: 926px) {
#customer-info-form > div, #more-address-info > div {
    display: flex;
flex-direction: column;
}

#room-previewer > div > div.form-room-selector > label > select {
    margin: 0;
    /* insert linebreak */
    
}
 

}