#room,#book {
    max-width: 80vw;
}

#room img {
    /* aspect-ratio: auto 512/288; */

}




main#room {

    padding-top: 100px;
    
    }

#room .flex {
    align-items: unset;
    /* justify-content:flex-start; */
}

#room  .filter-options-container{
    /* width: 100%; */
    max-width: 80vw;
    margin: auto;
}

#room .filter-options{
    margin: .75rem 3rem .65rem 3rem;
}

#room .filter-options.flex {
    justify-content: flex-start;
    align-items: space-around;
}



#room .filter-options .filter{
    /* padding: 1rem ; */
    border: 1px solid var(--primary-soft-color);
    padding: 0.25rem .75rem;
    border-radius: 6px;
    font-weight: 200;
    margin: 0   1rem;
    cursor: pointer;

}

.filter:hover {
    background-color: var(--primary-soft-color);
    border: 1px solid var(--primary-hard-color);

}

.card-container {
    border-radius: .875rem;
    overflow: hidden;
    height: 17.8125rem;
    margin: 0.5rem 0px 1rem;
    border: .2px solid var(--primary-hard-color);
    /* Marriot BonVoy shadow color */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0.25rem 1.25rem 0px
    /* background-color: var(--primary-soft-color); */
}

.image-gallery-container {
    width: 45%;
    /* max-width: 0px; */

}

.image-gallery-component {
    height: 18rem;
    width: 36.1vw;
    
}

.image-gallery-container {
    margin: auto;
}

.glider {
    /* margin: 0px auto; */
    /* width: 100% */
}

.slider-wrapper {
    /* width: 100%; */
    /* height: 288px; */
    /* background-size: cover; */
    /* overflow: hidden;  */
    transition: transform .8s ease-in-out;
    width: 100%;
}

.slider-wrapper img {
    object-fit: cover;
    width: 100%; 
    flex: 0 0 100%;
    /* min-width: 100%;  */
    /* height: auto; */
    /* flex-shrink: 0; */
    /* width: 100%; */
    /* height: 100%;
    /* object-fit: cover; */
    /* object-position: center;  */
} 

.carousel {
    position: relative;
}

.svg-container {
    align-items: flex-start;
    justify-content: flex-start;
    gap: .4rem;
}

.room-ammenities.room-info {
    margin: .5rem 0;
}
/* aspect ratio ~ 8:5 */
/* real image-container */
#room .slider-wrapper {
    z-index: 97;
    overflow: hidden;
    /* align-items: center; */
    justify-content: flex-start;

}

.glider.carousel {
    position: relative;
}



#room .slider-wrapper img {
    z-index: 1;
    /* object-position: center; */
}



.carousel-button {
    background-color: var(--primary-soft-color);
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 4rem;
    position: absolute;
    color: var(--primary-color);
    opacity: 0.5;
    cursor: pointer;
    z-index: 99;
    top: calc(34%);
    transition: opacity 0.5s ease; /* Add transition for smooth hover */
}


.carousel-button:hover {
    opacity: 0.7;
}

.carousel-button.back-button {
    left: 1rem;
    z-index: 9100;
}

.carousel-button.forward-button {
    right: 2.25vw;
    z-index: 100;
}


.slider-wrapper {

}

#room .carousel-button > .arrow {
/* font-size: 1.5rem; */
opacity: 1;
z-index: 50;
}




/* color: var(--primary-hard-color); */


/* text content */


.text-container {
    width: 55%;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    border-radius: 0px 0.875rem 0.875rem 0px;
    background-color: var(--primary-color);
    /* height: 18rem; */
    
}

.content-details {
/* margin-left: 2vw; */
/* margin-right: 2vw; */
margin: auto;
max-width: 96%;
height: 11.56rem;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;
}

.content-footer {
justify-self: flex-end;
align-self: flex-end;
width: 100%;

}


#room .room-title {
    margin-bottom: .75rem;
    width: fit-content;
}
#room .room-title h2{
    text-align: left;
    padding: 0;
    font-size: 1.5rem;
}

/* for testing only */
#room .room-ammenities, #room .room-description, #room .room-title h2, #room .room-direct {
    /* background-color: var(--primary-soft-color); */
}

.room-description.room-info {
    overflow: scroll;
}

#room .room-ammenities {
    min-height: 25px;
}

.amenity {
    width: 20px;
    height: 20px;
}

#room .room-ammenities > div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    text-wrap: nowrap;
    /* height: min-content; */
    min-height: 25px;
    overflow-x: scroll;
    overflow-y: visible;
    /* flex container height */
    

}

#room .content-room-price {
    /* background-color: var(--primary-soft-color); */
    align-items: center;
    justify-content: flex-end;
    margin: 0.5rem 1.5rem 0.5rem 1rem;
}



#room .content-room-price span:first-child {
    font-size: 1.23rem;
    margin-right: 0.5rem;
}

#room .content-room-price span:nth-child(2) {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.content-room-price button {
    border-radius: 50px;
    background-color: var(--primary-hard-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.5s ease;
    border: 1px solid var(--primary-color);
}

.content-room-price > button:hover {
    background-color: var(--background-color);
    color: var(--primary-hard-color);
    border: 1px solid var(--primary-hard-color);
}



.horizontal-line {
    border-top: 1.5px solid var(--primary-soft-color);
}

@media screen and (min-width: 1200px) {
    .card-container {
        max-width: 1140px;
        width: 100%;
    }
}






@media screen and (max-width: 770px) {


}