
@media screen and (min-width: 1200px) {
    .card-container {
        /* max-width: 1140px; */
        max-width:  59.375vw;
        width: 100%;
        transition: width 1s ease;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .card-container {
        /* max-width: 1140px; */
        max-width:  64.375vw;
        width: 100%;
        transition: width 1s ease;
    }
}


@media screen and (min-width: 770px) and (max-width: 1000px) {
    .card-container {
        /* max-width: 1140px; */
        max-width:  69.375vw;
        width: 100%;
        transition: width 1s ease;
    }
}




@media screen and (max-width: 768px){

    main#room {
        padding-top: 30px;
        }

#room .filter-options-container {
    width: 100%;
}
    .image-gallery-container {
        width: 100%;
        height: 55%;
    }

    .slider-wrapper {
        /* display: flex;
        transition: transform .8s ease-in-out;
        width: 100%; */
        /* z-index: 1;
        opacity: 1;
        flex-wrap: nowrap; */
        /* z-index: 97; */
        max-height: 35vh;
        max-width: 70vw;
        object-fit: cover;
    }


    .image-gallery-component {
        width: 100%;
    }

    .carousel-button{
        top: calc(25%);
    }

.text-container {
    border-radius: 0px 0 0 0px;

    height: 45%;
    
}

.rooms-results-container {
    width: 100%;
}

.card-container {
    /* max-width: 1140px; */
    flex-direction: column;
    max-width:  70.375vw;
    width: 70vw;
    transition: width 1s ease;
    height: 25rem;
}




/* room-info */

.text-container{
    width: 100%;
}



.content-details {
    flex-direction: column;
    /* flex-wrap: nowrap; */
/* test value */
    z-index: 1000;
    overflow:scroll;
}


.room-title-ammenities{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: .5rem 0;

}



#room .room-title {
    margin-top: 0rem;
    overflow: hidden;
    text-wrap: nowrap;
    width: 55%;

}

#room .room-title h2 {
    font-size: 1.1rem;
}

#room .room-ammenities {

    margin-left: 15px;
}

#room .room-description {
    margin: .5rem 0;


}

#room .room-direct {}

#room .content-room-price {

}

#room .rooms-container.flex{
    justify-content: flex-start;
}

}