
:root {
    --primary-hard-color: #000000;
    --primary-soft-color: #daddd8;
    --primary-soft-color-transparent: #daddd8ba;
    --primary-color: #ffffff;
    --secondary-color: #1F61A4;
    --accent-color: #DBAC80;
    --main-font: 'Afacad Flux';
    --secondary-font: 'Karla';
    --primary-font-color: #000000;
    --secondary-font-color: #daddd8;
    --accent-font-color: #1F61A4;
    --background-color: #daddd8;
    --secondary-background-color: #1F61A4;
    --header-background-color: #155C85ff;

    
}

#site-plan{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: nowrap;
    /* width: 100%; */
}



#site-plan-container {
    width: 100%;
}

#site-plan-container > section {
    margin: .5rem;
    max-width: 250px;
}
/* 
#site-plan > div:first-child {
    margin: auto;
} */

#site-plan > div:first-child {
margin-bottom: 14vw;
max-width: 175px;
margin-left: 30vw;
}


#site-plan > div:first-child > div > p{
/* margin-top: 30px; */
color: var(--primary-color);
margin-left: 15px;
margin-top: 10px;
    }

#site-plan > div:first-child > div:first-child {
    
    
}


#wireframes {
    width: 100%;
    text-align: center;
    border-left: 0 solid var(--secondary-color);
}

@media screen and (min-width: 770px) {

    header {
        position: fixed;
        width: 100%;
        background: transparent;
        background-color: unset;
        transition: background 1s ease;
        z-index: 3;
        color: var(--primary-color);

        

    }

    
    main {
        padding-top: 200px; /* Adjust this value to match the header height */
    }
    
    #header:hover{
        background-color: var(--primary-color) !important;
        color: var(--primary-hard-color);
    }
    
    #header.scrolled {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background: var(--primary-color);
        background-color: var(--primary-color);
        color: var(--primary-hard-color);
    }
    
    #site-plan-container {
        margin-bottom: 10vw;
    }

    #site-plan-container .theme-content {
        background-color: var(--primary-soft-color-transparent);
        border: 1px none;
    }
    /* 
    #header.scrolled {
        background: none;
        background-color: unset;
    
    } */
    
    .background-scroll-effect{
        background-image: url('/project/images/drift-background.jpeg');
        /* background-image-size */
        background-position:top;
        background-size: 1700px auto;
        background-repeat: no-repeat;

        z-index: 5;
    }
    
}


@media screen and (max-width: 850px) {

}