
:root {
    --primary-hard-color: #000000;
    --primary-soft-color: #daddd8;
    --primary-soft-color-transparent: #daddd8ba;
    --primary-color: #ffffff;
    --secondary-color: #1F61A4;
    --accent-color: #DBAC80;
    --main-font: 'Afacad Flux';
    --secondary-font: 'Karla';
    --primary-font-color: hsl(0, 0%, 0%);
    --secondary-font-color: #daddd8;
    --accent-font-color: #1F61A4;
    --background-color: #daddd8;
    --secondary-background-color: #1F61A4;
    --header-background-color: #155C85ff;
}



@media screen and (min-width: 770px) {

    header {
        position: fixed;
        width: 100%;
        background: transparent;
        background-color: unset;
        transition: background 1s ease;
        z-index: 3;
        color: var(--primary-color);
    }

    
    #site-plan-container {
        margin-bottom: 10vw;
    }

    #site-plan-container .theme-content {
        background-color: var(--primary-soft-color-transparent);
        border: 1px none;
    }
    /* 
    #header.scrolled {
        background: none;
        background-color: unset;
    
    } */
    
    
    
}


@media screen and (max-width: 850px) {

}