
#current-weather-card-content {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* align-items: space-around; */
}

#weather-icon-container img {
    /* margin-left: 1rem; */
    padding-left: 1rem;
}

#weather-text-content {
    margin: 1rem;
}

#weather-text-content div{
    /* margin-top: .25rem; */
    margin: .20rem 0;
}

#forecast-text-content {
    margin: 2rem 1rem;
    flex-direction: column;
    gap: 1rem;

}

#forecast-text-content > div {
    margin: .25rem;
    padding: .25rem 3rem;
    text-wrap:nowrap;
}


#hero > img{
    /* background-color: rgb(205, 205, 2) ; */
    width: 100%;
}