@media screen and (max-width: 780px) {

    .navigation {
        /* display: none; */
    }

    #menu-button {
        display:block;
        font-size: large;
        color: var(--sample-color);
        z-index: 99;
    }
    /* .header-wrap h1 {
        margin: auto;
    } */

    .navigation ul {

        flex-direction: column;
        justify-content: space-around;
    }


#navigation {

}

    .navigation li {
        text-align: center;
        
    }

    #menu>ul {
        /* display: hide; */
        /* position:absolute; */
        /* width: 100%; */
    }
}


@media screen and (max-width: 450px) {
    /* .hide {
        display: none;
    } */

    .grid {
        margin-right: 7rem;
    }

    #hamburger {
        color: var(--sample-color);
        padding: 1rem;
        display: block;
        text-align: center;
        font-size: 4rem;
        z-index: 99;
        padding: 0rem;
    }

    #menu-list, #navigation {
        flex-direction: column;
        
    }

.hide {
    display: none;
}

#hamburger:hover {
    padding: 0rem 15rem;
    /* justify-content: center; */
    align-items: center ;
}

    #menu-list {
padding: 0;
    }

    #menu-list li {
        padding: 1rem 15rem;
    }

    #brand {
        width: 100%;
    }

    .grid {

    }

}
