@media screen and (max-width: 840px) {

    #menu-button {
        display: block;
        font-size: large;
        color: var(--sample-color);
        z-index: 99;
    }


    .navigation ul {

        flex-direction: column;
        justify-content: space-around;
    }


    .navigation li {
        text-align: center;
    }

    #hero .hero-div.flex {
        top: 50%;
        left: 2%;
    }


    #home-content {
        flex-direction: column;
    }

    #promo-cards {
        flex-direction: column;
    }

    #business-cards .cardStyle {
        width: 90%;
        margin: 1rem;
    }

#photo-container .figcaption {
    font-size: medium;
    padding: 1rem 1rem;
    position: relative;
    background-color: unset;
    color: var(--primary-color);

}



#discover-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 


.newCardStyle:not(#calendar-container) {
    background-color: var(--secondary-color);
    padding: 1rem;
    width: 80vw;
    border-radius: 2px;
}

#calendar-container {
 width: 100%;

}

#calendar-content {
    
    align-self: center;
    justify-self: center;
}

#calendar-content iframe{
    max-width: unset !important;
    width: 500px;
}

#photo-container > div {
    flex-direction: column;
}

#photo-container > figure img {
    width: 75vw;
    height: 40vw;
    /* stretch */
    object-fit: stretch;
}



}

@media screen and (max-width: 500px) {


    #hero, #home-content { 
        width: 100%;

    }

    #hamburger {
        color: var(--sample-color);
        padding: 1rem;
        display: block;
        text-align: center;
        font-size: 4rem;
        z-index: 99;
        padding: 0rem;
    }

    #menu-list,
    #navigation {
        flex-direction: column;

    }

    .hide {
        display: none;
    }

    #hamburger:hover {
        padding: 0rem 15rem;
        /* justify-content: center; */
        align-items: center;
    }

    #menu-list {
        padding: 0;
    }

    #menu-list li {
        padding: 1rem 15rem;
    }

    #brand {
        width: 100%;
    }

    #footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    #hero .hero-div.flex {
        
        top: 60%;
        left: 2%;
    }

    #hero .hero-div p {
        /* margin: 0; */
        text-align: center;
        padding: 0;
        width: 100%;
        margin: auto;
    }

    .hero-div p:nth-child(1) {
        font-size: 1rem;
    }

    .hero-div p:nth-child(2) {
        font-size: 1.2rem;
    }

    .hero-div p:nth-child(3) {
        font-size: 1.4rem;
    }


    #hero-button {
        top: 80%;
        left: 25%;
        padding: .7rem;
    }

    #home-content {
        flex-direction: column;
    }

    #promo-cards {
        flex-direction: column;
    }

    #business-cards div{
        width: 96%;

    }

    #business-cards .cardStyle {
        width: 92%;
        margin: 1rem;
    }


#business-cards .cardStyle img {
    /* height: unset;
    object-fit: stretch;
    object-position: center;
    max-width: 125px;
    width: 130px; */

    
}


#calendar-content iframe{
    max-width: unset !important;
    width: 300px;
}



}