@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200..800&display=swap');


HSDOCOIJH42Et {
    color: #02111B;
    color: #3F4045;
    color: #30292F;
    color: #5D737E;
    color: #5D737E;


    color: #FCFCFC;

    color: #D1D1D1;
    color: #DBDBDB;
    color: #85C7F2;
    color: #636363;
    color: #4C4C4C;
}

:root {
    --primary-color: #02111B;
    --secondary-color: #3F4045;
    --accent-color: #30292F;
    --main-font: 'Manrope';
    --secondary-font: 'open sans';
    --primary-font-color: #FCFCFC;
    --secondary-font-color: #5D737E;
    --secondary-transparent-font-color: hsla(200, 15%, 43%, 0.668);
    --goofy-color1: #f1e900;
    --goofy-color2: #10bd0a;
}

* {
    margin: 0;
    font-family: var(--main-font);
    color: var(--primary-font-color)
}

/* 
#content * {
    color: var(--secondary-color);
} */

#content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 90vw; */
    color: var(--goofy-color1);
    width: 100%;
    /* position: relative; */

}

#hero {
    position: relative;
    z-index: 1;
    width: 80%;
    object-fit: cover;
    margin: auto;
}



#home-content {
    width: 80%;
    margin: auto;
}


#hero img {
    z-index: 98;
}



.hero-div * {
    margin: 0;
}

.hero-div {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 16%;
    background-color: var(--secondary-transparent-font-color);
    border-radius: 6px;
    padding: 1vw;
    margin-right: 1vw;
    flex-wrap: wrap;
}

.hero-div p:nth-child(1) {
    font-size: 1.5vw;
    text-shadow: 2px 2px 2px var(--primary-color);
    padding: 0px 0 1vw 0;
}

.hero-div p:nth-child(2) {
    font-size: 1.7vw;
    text-shadow: 2px 2px 2px var(--primary-color);
    padding: 0px 0 0 0;
    padding-left: 2.25rem;
}


.hero-div p:nth-child(3) {
    font-size: 2.25vw;
    font-weight: 600;
    text-shadow: 2px 2px 2px var(--primary-color);
    padding: 1vw 0px 0 0px;
    margin-left: 50px;
    padding-left: 4.5rem;
    font-family: var(--secondary-font);
}


#hero-button {
    position: absolute;
    z-index: 99;
    top: 80%;
    left: 80%;
    background-color: var(--accent-color);
    padding: .75vw;
    font-size: 1.25vw;
    margin-right: 1vw;
}

#hero-button:hover,#hamburger:hover {
    background-color: var(--secondary-color);
}

#header,
#footer {
    background-color: var(--primary-color);
}
#footer 

#footer .flex {
    justify-content:center;
    align-items: space-evenly;
}

#footer span {
    justify-content: space-evenly;
    align-items: stretch;
}

h2 {
    font-family: var(--secondary-font);
}

ul {
    list-style-type: none;

}

li {
    text-decoration: none;

    padding: 1.15rem 1.5rem;
}

#menu-list li:hover {
    background-color: var(--secondary-color);
}

#menu-button {
    display: none;
}

a {
    text-decoration: none;
}

#directory-options *,
.page-theme>h1 {
    color: var(--secondary-font-color);

}

#brand {
    flex-direction: column;
    min-height: 10vh;
    text-wrap: nowrap;
}

#horizontal-logo {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}


#brand {
    gap: 0;
    justify-self: flex-start;
}

#brand img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;
    /* margin: 15px; */
}

#brand #horizontal-logo {
    grid-column: 2/3;
    grid-row: 1/3;
}

#brand #logo-description {
    grid-column: 2/3;
    grid-row: 2/3;
}

#footer {
    min-height: 10vh;
}



#business-cards {
    /* width: 80vw; */

    /* margin: auto; */
}


.cards {
    flex-direction: row;

}

#business-cards .cards {
    flex-wrap: nowrap;
    overflow: auto;



}

#business-cards>div {
    width: 80vw;
}

.card {
    margin: 1rem;
    border: .0001px solid;
    box-shadow: 7px 7px 7px rgb(186, 179, 179);
    border-radius: 6px;
}

#promo-cards hr {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

#promo-cards .cardStyle .promoCardContent {
    flex-wrap: nowrap;
}

#promo-cards .cardStyle .promoCardhead {
    flex-direction: column;
}

#promo-cards .card.cardStyle.flex .promoCardContent.flex .flex {
    align-items: flex-start;
    justify-content: center;
}

#promo-cards .card.cardStyle.flex .promoCardContent.flex .flex p {
    /* overflow-wrap: break-word; */
    font-size: small;
    /* padding: 1rem; */
}

/* 
#business-cards .flex {
    align-items: stretch;
    /* justify-content: center; */
/* justify-content: flex-start; */
/* flex-basis: 50%; 
}

#promo-cards .flex  {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* flex-basis: 100%; */
/* margin-left: 10rem; 
}

#promo-cards .card .flex div {
    flex-direction: column;
}

#promo-cards > div:nth-child(1) {
    flex-direction: column;
    flex-wrap: nowrap;
} */

#business-cards .cardStyle {
    background-color: var(--secondary-color);
    padding: 1rem;
    width: 400px;

}

#business-cards .cards {
    width: 100%;
}

#business-cards .cardStyle img {
    /* crop image overflow */
    /* width: 100%; */
    height: 150px;
    object-fit: cover;
    /* border-radius: 6px; */
}

.cardStyle div:nth-child(2) {
    padding-left: 1vw;
}

.cardStyle:hover {}



#home-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: stretch;
}



#home .proCard {
    background-color: var(--secondary-font-color);

}

#home .proCard-head {
    background-color: var(--accent-color);
    padding: .75rem;
}


.f1 {
    flex-grow: 8;
    flex-shrink: 8;
    min-width: 200px;
}

.f2,
.f3 {
    flex-grow: 1;
    flex-shrink: 1;
}

button {
    border-radius: 8px;
    border: none;
    padding: 8px;
}



.grid-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.grid-switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


#directory-options p {
    padding: .5rem;

}

#directory-options p>span {
    font-size: 2rem;
}

input:checked+.slider {
    background-color: #b3b4b5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #b3b4b5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.page-theme h1,
.page-theme .cards {
    padding: 1rem;
    margin: 0;
    text-align: center;
}

address {
    font-size: medium;
}

#hamburger {
    cursor: pointer;
    display: none;
    /* line-height: 60px; */
}


/* 
.hide {
    display: unset;
} */